*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: "Inter";
  
}
.navigation-bar{
     max-width: 1600px;
     width: 120%;
     margin: 0 auto;
     padding: 0 50px;
 
}
.navigation-bar{
     display: flex;
     justify-content: space-between;
     max-width: 1600px;
     width: 120%;
     align-items: center;
     font-size: 16px;
     font-weight: 600;
     padding: 16px 120px; 
      line-height: 152%;
}
.nav-btn{
     background-color: #30B868;
     color: #FFFFFF;
     border: none;
     border-radius: 4px;
     font-weight: 600;
     align-items: center;
     gap: 10px;
     padding: 16px 12px;
    


}
.menu-bar{
     display: flex;
     list-style: none;
     gap: 32px;
}
 .menu-bar a{
     text-decoration: none;
     font-weight: 600;
     color: #000000;
     

}
.logo img{
     height: 60px;
     width: 139px;
}