*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: "Inter";
  
}
.navigation-bar{
     max-width: 1600px;
     width: 120%;
     margin: 0 auto;
     padding: 0 50px;
 
}
.navigation-bar{
     display: flex;
     justify-content: space-between;
     max-width: 1600px;
     width: 120%;
     align-items: center;
     font-size: 16px;
     font-weight: 600;
     padding: 16px 120px; 
      line-height: 152%;
}


/* shared section */
.nav-btn{
     background-color: #30B868;
     color: #FFFFFF;
     border: none;
     border-radius: 4px;
     font-weight: 600;
     align-items: center;
     gap: 10px;
     padding: 16px 12px;
     cursor: pointer;
    


}
.nav-btn:hover{
     background-color: aqua;
     transform: translate(1px);
}
.customize-btn{
     background:transparent; 
     color: #FFFFFF;
     border: 1px solid gray;
     border-radius: 4px;
     font-weight: 600;
     align-items: center;
     gap: 10px;
     padding: 15px 30px;
     cursor: pointer;
     transition: 0.2s;
     

}
.customize-btn:hover{
     background: gray;
     transform: translate(1px);
     
}
.status-bar img{
     width: 16px;
     height: 16px;

}
.status-bar{
     background: #FFFFFF;
     color: #30B868;
     padding: 12px 8px;
     gap: 6px;
     width: 229px;
     height: 35px;
     display: inline-flex;
     align-items: center;
     border-radius: 100px;
     font-size: 16px;

}
.menu-bar{
     display: flex;
     list-style: none;
     gap: 32px;
}
 .menu-bar a{
     text-decoration: none;
     font-weight: 600;
     color: #000000;
     

}
.logo img{
     height: 60px;
     width: 139px;
}

/* hero seciton */

.hero-section{
     background-image: url(./B13-A01-Knowledge-Vault-main/assets/hero-bg.png);
     background-size: cover;
     background-position: center;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     color: #FFFFFF;
     height: 674px;
     padding: 120px 70px 134px;
     gap: 40px;
}
.banner-data{
     padding: 16px 0;
     gap: 16px;
}
.heading-1{
     font-size: 55px;
     font-weight: 600px;
      
}
.heading-2{

     font-size: 57px;
     font-weight: 600;
     color: #30B868;
     margin-bottom: 20px;
     
     
}
.banner-info{
     font-size: 18px;
     margin: 0 auto 25px;
     font-weight: 500;
     
    
    
}
/* instraction */
.instraction{
     margin-top: 50px;
     /* background-color: yellowgreen; */
     text-align: center;
    
}
.instraction h2{
     font-size: 50px;
     font-weight: 600;
     line-height: auto;
   
}
.instraction p{
     margin-top: 20px;
     font-size: 16px;
     line-height: 20%;

}
/* Card-menu */
.circle{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color:  #F95555;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;

   
}
.all-card{
     max-width: 1600px;
     width: 120%;
     height: 300px;
     padding-top:50px;
     display: flex;
     justify-content:center;
     align-items: center;
     margin: 44px 120px;
     gap: 24px;

}
.card-info{
     background-color: #ffff;
     width: 322px;
     height: 300px;
     padding: 35px 24px;
     margin: 0 auto ;
     gap: 16;
     border-radius: 8px;
     transition: transform 0.4s ease; 
     box-shadow: 5px 10px 10px 10px rgb(233, 236, 234);
 



}
.card-info:hover{
     background-color: #ffffff;
       transform: translateY(-12px);

}
 
.card-info .card-heading{
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     padding-top: 10px;
}
.card-info .card-txt{
     text-align: center;
     padding-top: 10px;
}
