*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: "Inter";
  
}
.navigation-bar{
     max-width: 1600px;
     width: 120%;
     margin: 0 auto;
     padding: 0 50px;
 
}
.navigation-bar{
     display: flex;
     justify-content: space-between;
     max-width: 1600px;
     width: 120%;
     align-items: center;
     font-size: 16px;
     font-weight: 600;
     padding: 16px 120px; 
      line-height: 152%;
}


/* shared section */
.nav-btn{
     background-color: #30B868;
     color: #FFFFFF;
     border: none;
     border-radius: 4px;
     font-weight: 600;
     align-items: center;
     gap: 10px;
     padding: 16px 12px;
     cursor: pointer;
    


}
.nav-btn:hover{
     background-color: aqua;
     transform: translate(1px);
}
.customize-btn{
     background:transparent; 
     color: #FFFFFF;
     border: 1px solid gray;
     border-radius: 4px;
     font-weight: 600;
     align-items: center;
     gap: 10px;
     padding: 15px 30px;
     cursor: pointer;
     transition: 0.2s;
     

}
.customize-btn:hover{
     background: gray;
     transform: translate(1px);
     
}
.status-bar img{
     width: 16px;
     height: 16px;

}
.status-bar{
     background: #FFFFFF;
     color: #30B868;
     padding: 12px 8px;
     gap: 6px;
     width: 229px;
     height: 35px;
     display: inline-flex;
     align-items: center;
     border-radius: 100px;
     font-size: 16px;

}
.menu-bar{
     display: flex;
     list-style: none;
     gap: 32px;
}
 .menu-bar a{
     text-decoration: none;
     font-weight: 600;
     color: #000000;
     

}
.logo img{
     height: 60px;
     width: 139px;
}

/* hero seciton */

.hero-section{
     background-image: url(./B13-A01-Knowledge-Vault-main/assets/hero-bg.png);
     background-size: cover;
     background-position: center;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     color: #FFFFFF;
     height: 674px;
     padding: 120px 70px 134px;
     gap: 40px;
}
.banner-data{
     padding: 16px 0;
     gap: 16px;
}
.heading-1{
     font-size: 55px;
     font-weight: 600px;
      
}
.heading-2{

     font-size: 57px;
     font-weight: 600;
     color: #30B868;
     margin-bottom: 20px;
     
     
}
.banner-info{
     font-size: 18px;
     margin: 0 auto 25px;
     font-weight: 500;
     
    
    
}